<?php return [
    'APP_ENV' => 'production',
    'BASE_DIR' => '/home/vagrant/realmetric/server/',

    // MYSQL
    'MYSQL_HOST' => '127.0.0.1',
    'MYSQL_DATABASE' => 'realmetric',
    'MYSQL_USERNAME' => 'root',
    'MYSQL_PASSWORD' => 'root',

    // Redis
    'REDIS_HOST' => 'redis',
    'REDIS_PORT' => 6379,
    'REDIS_DBINDEX' => 0,
    'REDIS_PREFIX' => '',

    // Basic auth
    'BASIC_AUTH_LOGIN' => 'root',
    'BASIC_AUTH_PASS' => 't00r',
];