0 * * * * /home/wdata/server/run clean:raw >> /home/wdata/server/logs/commands/clean_raw.log 2>&1
0 0 * * * /home/wdata/server/run clean:old >> /home/wdata/server/logs/commands/clean_old.log 2>&1
0 0 * * * /home/wdata/server/run daily:metrics >> /home/wdata/server/logs/commands/daily_metrics.log 2>&1
0 0 * * * /home/wdata/server/run daily:slices >> /home/wdata/server/logs/commands/daily_slices.log 2>&1
