<?php return [
    'APP_ENV' => 'development',
    'BASE_DIR' => '/home/vagrant/realmetric/server/',

    // MYSQL
    'MYSQL_HOST' => '127.0.0.1',
    'MYSQL_DATABASE' => 'realmetric',
    'MYSQL_USERNAME' => 'root',
    'MYSQL_PASSWORD' => 'root',
];